<router-outlet></router-outlet>
<ng-sidebar-container>
    <ng-sidebar [opened]="opened">
        <h2>Menú</h2>
        <button (click)="toggleSidebar()">Cerrar menú</button>
        <ul class="menu">
            <li><a routerLink="" (click)="toggleSidebar()">Registro de facturas</a></li>
            <li><a routerLink="ver" (click)="toggleSidebar()">Ver facturas</a></li>
            <li><a routerLink="modificar" (click)="toggleSidebar()">Modificar facturas</a></li>
            <li><a routerLink="eliminar" (click)="toggleSidebar()">Eliminar facturas</a></li>
        </ul>
    </ng-sidebar>
    <div ng-sidebar-content>
        <button (click)="toggleSidebar()">
            Abrir menú
        </button>
        
    </div>
</ng-sidebar-container>